@import '_vars';
@import '_global';
@import '_fonts';



.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text{
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
    }
}

.header__btn  {
    font-size: 12px;
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;

}

.header__btn-login{
    background-color: $green;

}

.header__btn-register{
    margin-left: 7px;
    background-color: $red;
}

.header__menu {
    background-color: $bg;
    

}

.menu{
    display: flex;
    align-items: center;
    height: 60px;
}

.menu__list {
li { display: inline-block;
    &+li {
        margin-left: 30px;
    }

}

a {
    font-size: 14px;
    color: #fff;
}



}